{% extends 'base.html' %}

{% block title %}
Страница о крушении
{% endblock %}

{% block content %}
<h1>О крушении</h1>
<h6>Привет! Начну с простого вопроса. Как часто вы сталкивались с дизинформацией в интернете? Можете не отвечать, я уверен, что очень часто, даже сами того не понимая.
В эту ловушку попали и мы с командой, расследуя дело про аэропорт. И сегодня я хотел бы подвести итоги нашей, почти годовой, деятельности.
Глава 1
Выводы

Мы получили, так называемую, "обратную связь" от бывших работников аэропорта. Если вкратце, то в негативном ключе.
Проанализировав ситуацию мв решаемая на самостоятельные поиски информации, которые впоследствии затягиваются на год.

Глава 2
Большое путешествие
Почти сразу же мы попали в архивы ФСБ. Перед нами предстала тоненькая папочка в три листа. В ней сухо и четко была изложена информация о катастрофе. Ну вот, как будто бы можно и сворачиваться. Но меня не отпускало чувство недосказанности. Именно поэтому мы продолжили поиски.</h6>
{% endblock %}
